:root {
	--white: #ffffff;
	--line: #2A2722;
	--dark: #1A1A1A;
	--background: #F1E9DB;
	--secondary-background: #718476;
	--secondary-background-darker: #4B5E50;
	--font-family: 'Manrope';
}


.service-popup {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	gap: 12px;
	padding: 40px 60px;
	background: var(--secondary-background-darker);
	display: none;
}

.service-popup-tittle {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 4.4rem;
	color: var(--white);
}


.service-popup-subtittle {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 3.0rem;
	color: var(--white);
}


.service-popup-text {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 2.0rem;
	color: var(--white);
	line-height: 120%;
}

.service-popup-info-body {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	gap: 6px;
}

.service-popup-center {
	display: flex;

	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: default;
}

.service-popup-left {
	display: flex;

	position: fixed;
	top: 50%;
	left: 20%;
	transform: translate(-100%, -50%);
	cursor: pointer;
	filter: blur(4px);
}

.service-popup-right {
	display: flex;

	position: fixed;
	top: 50%;
	left: 80%;
	transform: translate(-0%, -50%);
	cursor: pointer;
	filter: blur(4px);
}

.service-popup-left-hidden {

}

.service-popup-right-hidden {

}


#service-popups-wrapper {
	background: rgba(30, 30, 30, .1);
	backdrop-filter: blur(10px);
	position: fixed;
	top: 0;
	left: 0;
	width: -webkit-fill-available;
	height: -webkit-fill-available;
	cursor: pointer;
	display: none;
}
