@media (max-width: 768px) {
	#pricing {
		flex-direction: column;
		gap: 40px;
		align-items: center;
	}

	#pricing-left-text, #pricing-terms {
		min-width: auto;
		width: 100%;
		max-width: none;
		padding: 0 10px;
		box-sizing: border-box;
	}

	#pricing-terms {
		align-items: center;
		text-align: center;
	}


	.filled-button, .outlined-button {
		width: 100%;
		max-width: 300px;
	}

	#contact-buttons a {
		width: 100%;
		max-width: 300px;
	}

  #landing-container-text {
    align-items: center;
  }

  .service-description {
    color: #1d7e00;
  }

  .lang {
    height: 21px;
  }

  #logo {
    height: 36px;
  }
  
  #nav-button {
    scale: 0.9;
  }
}


@media (max-width: 520px) {
  .lang {
    height: 17px;
  }

  #logo {
    height: 29px;
  }

  #nav-button {
    scale: 0.8;
  }
}

@media (max-width: 360px) {
  .lang {
    height: 13px;
  }

  #logo {
    height: 24px;
  }

  #nav-button {
    scale: 0.7;
  }

}
