:root {
	--white: #ffffff;
	--line: #2A2722;
	--dark: #1A1A1A;
	--background: #F1E9DB;
	--secondary-background: #718476;
	--secondary-background-darker: #4B5E50;
	--font-family: 'Manrope';
}


.service-popup{
  background: var(--secondary-background-darker);
	display: none; /* inline block */
	justify-content: center;
	flex-direction: column;
	gap: 30px;
	padding: 40px 60px;
}

.service-popup-tittle{
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 44px;
  color: var(--white);
}

.service-popup-text{
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 20px;
	color: var(--white);
}

.service-popup-body{
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	gap: 12px;
}

.service-popup-body-text{
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	gap: 6px;

	font-family: var(--font-family);
	font-weight: 600;
	font-size: 30px;
	color: var(--white);
}


.service-popup-center{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: default;
}

.service-popup-left{

}

.service-popup-right{

}

.service-popup-left-hidden{

}

.service-popup-right-hidden{

}
